# Environment
NODE_ENV=development

# Database Main (Development)
DEV_MAIN_USERNAME=root
DEV_MAIN_PASSWORD=
DEV_MAIN_DATABASE=api_absensi_dev
DEV_MAIN_HOST=localhost
DEV_MAIN_DIALECT=mysql
DEV_MAIN_PORT=3306

# Database Master (Development)
DEV_MASTER_USERNAME=root
DEV_MASTER_PASSWORD=
DEV_MASTER_DATABASE=master_db
DEV_MASTER_HOST=localhost
DEV_MASTER_DIALECT=mysql
DEV_MASTER_PORT=3306

# Database Main (Test)
TEST_MAIN_USERNAME=root
TEST_MAIN_PASSWORD=
TEST_MAIN_DATABASE=api_absensi_test
TEST_MAIN_HOST=localhost
TEST_MAIN_DIALECT=mysql
TEST_MAIN_PORT=3306

# Database Master (Test)
TEST_MASTER_USERNAME=root
TEST_MASTER_PASSWORD=
TEST_MASTER_DATABASE=master_db_test
TEST_MASTER_HOST=localhost
TEST_MASTER_DIALECT=mysql
TEST_MASTER_PORT=3306

# Database Main (Production)
PROD_MAIN_USERNAME=
PROD_MAIN_PASSWORD=
PROD_MAIN_DATABASE=
PROD_MAIN_HOST=
PROD_MAIN_DIALECT=mysql
PROD_MAIN_PORT=3306

# Database Master (Production)
PROD_MASTER_USERNAME=
PROD_MASTER_PASSWORD=
PROD_MASTER_DATABASE=
PROD_MASTER_HOST=
PROD_MASTER_DIALECT=mysql
PROD_MASTER_PORT=3306

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here

# Firebase Admin SDK
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_PRIVATE_KEY_ID=your_firebase_private_key_id
FIREBASE_PRIVATE_KEY=your_firebase_private_key
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_CLIENT_ID=your_firebase_client_id
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=your_firebase_client_x509_cert_url
